/* MAIN.CSS */

html{
	height: 100%;
	max-height: 100%;
	min-height: 100%;
}

.content{
}


pre {
	white-space:pre-wrap;
	word-wrap: break-word;
}

.header a{
	text-decoration: none;
	color: inherit;
}

.header a:hover{
	color: grey;
}

/*
@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.header h2 {
    border-right: .05em solid black;
    width: 16em; 
    width: 12ch;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 1s steps(12, end),
               blink-caret 0.5s step-end infinite alternate;
}
*/

.main-buttons{
	margin-top: 10%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.main-buttons a{
	margin-right: 2%;
	margin-left: 2%;
}

.github-buttons {
	align-content: right;
	float: right;
}

#newstory_form textarea{
	resize: none;
	height: auto;
}

#newstory_form input[type="submit"]{
	float: right;
	
}

#add_form textarea{
	resize: none;
	height: auto;
}

#add_form input[type="submit"]{
	float: right;
}

#markdown_supported{
	margin-bottom: 0;
	margin-right: 0;
}

#full_text{
	word-wrap: break-word;
	white-space: pre-wrap;
	text-align: justify;
}

#full_text h1{font-size: 2em;}
#full_text h2{font-size: 1.5em;}
#full_text h3{font-size: 1.17em;}
#full_text h4{font-size: 1em;}
#full_text h5{font-size: 1em;}




.footer{
	margin-top: 15%;
	margin-right: 1%;
	margin-left: 1%;
}
