/* MAIN.CSS */

.content{
	width: 100%;
	min-width: 100%;
	position: absolute;
}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.header h2 {
    border-right: .1em solid black;
    width: 16.5em; 
    width: 12ch;
    margin: 2em 1em;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 2s steps(12, end),
               blink-caret .5s step-end infinite alternate;
}

.main-buttons{
	margin-top: 10%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.main-buttons button{
	margin-right: 2%;
	margin-left: 2%;
}

.github-buttons {
	align-content: right;
	float: right;
}


.footer{
	margin-top: 30%;
	margin-bottom: 0;
	margin-right: 5%;
}
