<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link href='/static/css/skeleton.css' rel="stylesheet">
  <link href='/static/css/normalize.css' rel="stylesheet">
  <link href='/static/css/main.css' rel="stylesheet">
  <link href='/static/css/fonts.css' rel="stylesheet">
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <link rel="icon" href="/static/img/favicon.ico"/>

  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80870551-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());
    gtag('config', 'UA-80870551-4');
  </script>
</head>

<body>
  <div class="container" id="container">
  	<br>
  	<div class="header">
  		<h2><pre><a href="/" id="main-title">140 stories.</a></pre></h2>
      <p><pre id="subtitle">Collaborative stories 140 characters at a time.</pre></p>
  	</div>
  	<div class="content">
    	{%block content%}
   	 	{%endblock%}
   	</div>    
    <div class="footer">
  	 <pre align="right">A project by <a target="_blank" href="https://twitter.com/ocuatrecasas">Oscar Cuatrecasas</a> and <a target="_blank" href="https://twitter.com/PolBaladas/">Pol Baladas</a></pre>
  	 <pre align="right">Data Science students at <a target="_blank" href="https://twitter.com/dseupc">dseupc</a></pre>
    
      <div class="github-buttons">
			 <a class="github-button" href="https://github.com/DadesUPC/140stories" data-icon="octicon-star" data-size="large" aria-label="Star DadesUPC/140stories on GitHub">Star</a><!-- Place this tag where you want the button to render. -->
			 <a class="github-button" href="https://github.com/DadesUPC" data-size="large" aria-label="Follow @DadesUPC on GitHub">Follow @DadesUPC</a>
      </div>
      <br>
    </div>
    <br>
  </div>
  <script type="text/javascript" src="../static/js/typewriter_text.js"></script>
</body>

</html>
