<div class="comment-parent">
	<div class="row comment">
		<div class="one column upvote-wrapper">
			<i align="middle" class="fa fa-heart-o upvote-symbol" aria-hidden="true"><br><div class="upvote-count">3564</div></i>
			<br>
		</div>
		<div class="eleven columns comment-content">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lorem massa, dignissim non semper vel, elementum sit amet mi. Nullam consequat purus lorem, in vulputate augue egestas sed. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin sed orci quis leo hendrerit imperdiet a eget quam. Morbi fringilla enim libero, iaculis auctor nunc porta vel. Vestibulum consequat, quam ac molestie luctus, sem enim aliquam nulla, eu sodales ipsum ipsum et ex. Cras magna metus, tempor vel semper ac, feugiat quis nibh. Suspendisse at tempor turpis. Donec lorem lectus, volutpat et purus ut, porttitor egestas diam. Pellentesque eu neque ligula. Pellentesque eu nibh eget libero lacinia lobortis. Integer ut viverra mauris.
		</div>
	</div>
</div>