{% extends 'base.html' %}

{% block content %}


<div class="row">
	<div class="12 columns">

		<div class="two columns"><p></p></div>
		
		<div class="eight columns column">
			<div align=middle id="story_container">
				<p align=middle><pre class="section-title" id="title" align=middle>{{story.title}}</pre></p>
				<div id="full_text">{{story.full_text}}</div>
				<div class="share">
				<br>
				<a href="/continue/0/" class="button button-primary button-continue-story">Next Story</a>
				<br>
				<br>
				{%include 'social.html'%}

			</div>
			<br>
			</div>
			{%include 'comments.html'%}	
			<br>
		</div>		
		<script type="text/javascript" src="/static/js/scrolling_bar.js"></script>
		<!--<script type="text/javascript" src="/static/js/micromarkdown.min.js"></script>
		<script type="text/javascript">
			window.onload = function markdown(){
				var text = document.getElementById('full_text')
				text.innerHTML = micromarkdown.parse(text.innerHTML);
			}

			function previewMarkdown(){
				//
			}
		</script>
		-->
		<div class="two columns"><p></p></div>

	</div>
</div>
{% endblock %}