{% extends 'base.html' %}

{% block content %}


<div class="row">
	<div class="12 columns">

		<div class="two columns"><p></p></div>
		
		<div class="eight columns column">
			<div align=middle id="story_container">
				<p align=middle><pre class="section-title" id="title" align=middle>{{story.title}}</pre></p>
				<div id="full_text">{{story.full_text}}</div>
				<div class="share">
				<br>
				{%include 'social.html'%}
			</div>
			<br>
			</div>
			<form action="/add/{{story.story_id}}/" method="post" id="add_form">
				<label for="tweet">Add your own ideas:</label>
  				<textarea rows="10" charswidth="23" name="text" class="u-full-width" placeholder="Once upon a time..." id="tweet-box" maxlength="140" spellcheck="false" required></textarea>
  				<div class="progress-bar">
 					<div class="progress-bar progress-bar-fill" id="progress-bar-fill"></div>
				</div>
				<input class="button-primary button-submit" type="submit" value="Submit">
				<p><a target="_blank" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown Syntax</a> supported</p>
			</form>

		</div>
		
		<script type="text/javascript" src="/static/js/scrolling_bar.js"></script>
		<script type="text/javascript" src="/static/js/micromarkdown.min.js"></script>
		<script type="text/javascript">
			window.onload = function markdown(){
				var text = document.getElementById('full_text')
				text.innerHTML = micromarkdown.parse(text.innerHTML);
			}
		</script>

		<div class="two columns"><p></p></div>

	</div>
</div>
{% endblock %}