{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="12 columns">
		<p align=middle><pre class=section-title align=middle>Start a new story</pre></p>
		<div class="three columns"><p></p></div>
		<form action="/newstory/" method="post" id="newstory_form">
			<div class="six columns column">
				<!--<label for="title">Story title:</label>!-->
				<input class="u-full-width" name="title" type="text" placeholder="The tale of Sir Francis Drake" maxlength="60" spellcheck="false" autocomplete="off" required>
				<br>
				<!--<label for="tweet">Now, start your story:</label>!-->
				<br>
  				<textarea rows="10" charswidth="23" name="text" class="u-full-width" placeholder="Once upon a time..." id="tweet-box" maxlength="140" spellcheck="false" required></textarea>
  				<div class="progress-bar">
 					<div class="progress-bar progress-bar-fill" id="progress-bar-fill"></div>
				</div>	
				
				<input class="button-primary button-submit" type="submit" value="Submit">

				<p id="markdown_supported"><a target="_blank" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown Syntax</a> supported</p>
				<p class="slider-text">Private Story? </p>
				<label class="switch">
					<input type="checkbox"><span class="slider round"></span>
				</label>
			
			</div>
		</form>
		<script type="text/javascript" src="../static/js/scrolling_bar.js"></script>
		
		<script type="text/javascript" src="/static/js/micromarkdown.min.js"></script>
		<script type="text/javascript">
			window.onload = function markdown(){
				var text = document.getElementById('full_text')
				text.innerHTML = micromarkdown.parse(text.innerHTML);
			}
		</script>

		<div class="three columns"><p></p></div>
	</div>
</div>
{% endblock %}